body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000000;
}
.search-main{
    background-color: #3a1647;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 40 px;

}
.tbox-search{
    float:left;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 0;
    transition: 2s;
}
.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: right;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40px;


}
.search-main:hover > .tbox-search{
    width: 200px;
}

header {
    background: #8d5d9b;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
}

nav {
    background: #861082;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #000000;
    border-bottom: 2px solid #520753;
    padding-bottom: 5px;
}

.tool {
    display: flex;
    align-items: center;
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tool img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
}

.tool h3 {
    margin: 0 0 5px;
}

.tool h3 a {
    color: #3a1647;
    text-decoration: none;
}

.tool h3 a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
